/* RESETS */

* {
  box-sizing: border-box;
}

input {
  width: 250px;
  border: none;
  border: 2px solid #483d8b;
  padding: 0.5em 0 0.5em 0.5em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
  margin-right: 1em;
}

label {
  display: inline-block;
  margin-bottom: 0.3em;
  font-weight: 800;
  color: aliceblue;
}

/* GENERAL STYLING */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* overflow: hidden; */
  font-family: "Abel", sans-serif;
  background-color: #19151a;
}

/* BUTTONS */

.btn {
  border: 0;
  outline: none;
  width: 45px;
  height: 45px;
  border-radius: 15px;
  background-color: lightseagreen;
  color: #fff;
  border: 2px solid rebeccapurple;
  cursor: pointer;
  margin: 0 5px 0 5px;
  transition: background-color 0.2s ease;
  font-family: inherit;
}

.btn:hover,
.btn:focus {
  background-color: steelblue;
}

.input-btn-container {
  display: flex;
}

/* LAYOUT */

.light-board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  align-items: baseline;
  gap: 20px;
  min-height: 512px;
  margin-bottom: 2em;
  margin-top: 2.8em;
}
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #563260;
  margin: 3px 3px;
  transition: all 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-color {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
}

.change-size {
  transform: scale(1); /*class for changing size*/
}

/* Light controls*/

.control-section {
  margin-bottom: 1em;
}

.control-section-btn {
  text-align: center;
}

/* ANIMATIONS */

.red {
  background-color: #c0392b;
  animation: glow1 1s infinite;
}

.green {
  background-color: #2ecc71;
  animation: glow2 1s infinite;
}

.blue {
  background-color: #64fcfe;
  animation: glow3 1s infinite;
}

.yellow {
  background-color: #f1c40f;
  animation: glow4 1s infinite;
}

@keyframes glow1 {
  0%,
  100% {
    box-shadow: 0 0 20px 5px #c0392b;
  }
  50% {
    box-shadow: none;
  }
}

@keyframes glow2 {
  0%,
  100% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 20px 5px #2ecc71;
  }
}

@keyframes glow3 {
  0%,
  100% {
    box-shadow: 0 0 20px 5px#64fcfe;
  }
  50% {
    box-shadow: none;
  }
}

@keyframes glow4 {
  0%,
  100% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 20px 5px #f1c40f;
  }
}
